
   
<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    
<!--    
  <div class="field">
    <%= f.label :attendee_id %><br>
    <%= f.collection_select :attendee_id, Attendee.all, :id, :first_name,  prompt: true %>
  </div>
  
  <div><label>attendance</label>
</div> 

  
-->    
    
  <div class="field" id="workshops">
<!--    <%= f.label :workshop_id %><br>-->
    <%= f.collection_select :workshop_id,  Workshop.all, :id, :name, { prompt: false } , { size: '1' } %>
  </div>
  <div class="field">
    <%= f.label :swipe_time %><br>
    <%= f.datetime_select :swipe_time %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status, { value: "Sign in" }%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<style>
#workshops2{
	position: absolute;
	right: 0px;
	top: 0px;
	}
</style>