<div>
<label>attendance</label>
<%= link_to 'Show', @attendance %> |
<%= link_to 'List', attendances_path %>
</div>


<%= render 'form' %>


<%= link_to 'Show', @attendance %> |
<%= link_to 'Back', attendances_path %>