
<div>
<label>attendance</label>

Find: <input>

<%= link_to 'New Attendance', new_attendance_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Attendee</th>
      <th>Workshop</th>
      <th>Swipe time</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
             
        <td><%= attendance.attendee %></td>
        <td><%= attendance.workshop %></td>
        <td><%= attendance.swipe_time %></td>
        <td><%= attendance.status %></td>
<td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


