<div><label>survey</label>
</div>    
<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attendance_id %><br>
    <%= f.collection_select :attendance_id, Attendance.all, :id, :name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :complete %><br>
    <%= f.check_box :complete %>
  </div>
  <div class="field">
    <%= f.label :workshop_rating %><br>
    <%= f.number_field :workshop_rating %>
  </div>
  <div class="field">
    <%= f.label :speaker_rating %><br>
    <%= f.number_field :speaker_rating %>
  </div>
  <div class="field">
    <%= f.label :conference_rating %><br>
    <%= f.number_field :conference_rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
