
<div>
<label>survey</label>

Find: <input>

<%= link_to 'New Survey', new_survey_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Attendance</th>
      <th>Complete</th>
      <th>Workshop rating</th>
      <th>Speaker rating</th>
      <th>Conference rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to 'Show', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
             
        <td><%= survey.attendance %></td>
        <td><%= survey.complete %></td>
        <td><%= survey.workshop_rating %></td>
        <td><%= survey.speaker_rating %></td>
        <td><%= survey.conference_rating %></td>
<td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


