<div><label>survey</label>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'List', surveys_path %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Attendance:</strong>
  <%= @survey.attendance %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @survey.complete %>
</p>

<p>
  <strong>Workshop rating:</strong>
  <%= @survey.workshop_rating %>
</p>

<p>
  <strong>Speaker rating:</strong>
  <%= @survey.speaker_rating %>
</p>

<p>
  <strong>Conference rating:</strong>
  <%= @survey.conference_rating %>
</p>


