<div>
<label>workshop</label>
<%= link_to 'Show', @workshop %> |
<%= link_to 'List', workshops_path %>
</div>


<%= render 'form' %>


<%= link_to 'Show', @workshop %> |
<%= link_to 'Back', workshops_path %>