<div><label>workshop</label>
<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'List', workshops_path %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workshop.name %>
</p>

<p>
  <strong>Attendee:</strong>
  <%= @workshop.attendee %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @workshop.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @workshop.ends_at %>
</p>

<p>
  <strong>Rescheduled:</strong>
  <%= @workshop.rescheduled %>
</p>

<p>
  <strong>Room name:</strong>
  <%= @workshop.room_name %>
</p>

<p>
  <strong>Building name:</strong>
  <%= @workshop.building_name %>
</p>


