
<% xs = params[:controller] 
x = params[:controller].singularize 
%>


<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>      
      <th></th>
      <th></th>
      <th>Org name</th>
    </tr>
  </thead>

  <tbody>
    <% @orgs.each do |org| %>
      <tr>
	    <td class="elicon"><input type="checkbox"></td>
        <td class="elicon"><%= link_to '', new_org_path , { class: 'glyphicon glyphicon-plus large', title: 'new' } %></td>
        <td class="elicon"><%= link_to '', org, { class: 'glyphicon glyphicon-list-alt large', title: 'show' } %></td>
        <td class="elicon"><%= link_to '', edit_org_path(org), { class: 'glyphicon glyphicon-edit large', title: 'edit' } %></td>
             
        <td><%= org.org_name %></td>
<td class="elicon"><%= link_to '', org, method: :delete, data: { confirm: 'Are you sure?' } , class: 'glyphicon glyphicon-trash large', title: 'delete' %></td> 
      </tr>
    <% end %>
  </tbody>
</table>


<br>


