
<div class="elgradient">
<label>org</label>

Find: <input>

<%= link_to 'New Org', new_org_path %>
</div>


<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Org name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orgs.each do |org| %>
      <tr>
        <td><%= link_to 'Show', org %></td>
        <td><%= link_to 'Test Edit', edit_org_path(org), { class: 'glyphicon-pencil' } %></td>
             
        <td><%= org.org_name %></td>
<td><%= link_to 'Destroy', org, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>


<br>


