<div class="elgradient">

<% xs = params[:controller] 
x = params[:controller].singularize 
%>

 <label> <%= xs.capitalize %></label>

<script>
function elsearch(x){
	alert("searching...");
	}
</script>

<input  >
<a href="" onclick="elsearch(this)" class="glyphicon glyphicon-search" title="find"></a>


<%= link_to '' , url_for( xs + "/new"), class: "glyphicon glyphicon-plus", title: 'New' %>
<%= link_to '' , url_for( xs ), class: "glyphicon glyphicon-list", title: 'list' %>

<%= link_to '' , url_for( xs ), class: "glyphicon glyphicon-filter", title: 'filter' %> <input type="checkbox"><input> 
<%= select_tag(:org_name, %w( = != < > ))  %>
<input>

<span class="elright">
<i class="glyphicon glyphicon-plus"></i>

</span>
</div>