<div>
<label>message</label>
<%= link_to 'Show', @message %> |
<%= link_to 'List', messages_path %>
</div>


<%= render 'form' %>


<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>