<!DOCTYPE html>
<html lang="en">
<head>
  <title>Conference system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="jumbotron.css" rel="stylesheet">
  <link href="elstyle.css" rel="stylesheet">
  
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        
        
        
        
          <button type="button" class="navbar-toggle hidden-sm hidden-xs" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Workforce Professional Development Academy 2014</a>
          
          
                    <ul class="nav navbar-nav hidden-sm hidden-xs">
            <li class="active"><a href="#">Home</a></li>
            <!--
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>

          
        </div>
        <div class="navbar-collapse collapse hidden-sm hidden-xs">
          <form class="navbar-form navbar-right hidden-sm hidden-xs" role="form">
            <div class="form-group">
              <input type="search" placeholder="Search for" class="form-control">
            </div>
            <button type="submit" class="btn ">Search</button>
          </form>

			<!--
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          -->
          
        </div><!--/.navbar-collapse -->
      </div>
    </div>

	<!-- hiding this till I know what it should do
       <div class="col-xs-6 col-sm-3 sidebar-offcanvas elright visible-lg" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item">Link</a>
            <a href="https://www.regonline.com/builder/site/tab3.aspx?EventID=1263433" class="list-group-item active">Florida Workforce Development Association</a>
            <a href="#" class="list-group-item">Registration</a>
            <a href="#" class="list-group-item">Exhibitor map</a>
            <a href="#" class="list-group-item">Calendar</a>
            <a href="#" class="list-group-item">Schedule of events</a>

          </div>
        </div><!--/span-->	-->
        
      <div class="container">
      
      
      
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container hidden-xs" style="position: relative;">
        <h1>Conference Bulletin Board</h1>
        <p>All your conference management in one place</p>
        
<div id="myCarousel" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
        	<img src="confLogo2b.jpg"  alt="ConferenceLogo"
          
          data-src="holder.js/200x200/auto/#666:#6a6a6a/text:ConferenceLogo"
          >
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img 
          src="atlas_logo_100.jpg"
          data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="atlas logo">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->        
        
      </div>

    </div>


      <div class="masthead">
        <ul class="nav nav-justified">
          <li class="active"><a href="/attendances/new" ><span class=" glyphicon glyphicon-credit-card "></span><br/> Home</a></li>
          <li ><a href="/workshops" ><span class=" glyphicon glyphicon-info-sign "></span>Workshops</a></li>
          <li><a href="/orgs"><span class=" glyphicon glyphicon-glass " ></span>Organizations</a></li>
          <li><a href="/attendees" ><span class=" glyphicon glyphicon-user "></span>Attendees</a></li>
          <li><a href="/surveys/new" ><span class=" glyphicon glyphicon-comment "></span>Surveys</a></li>
          <li><a href="/messages/new" ><span class=" glyphicon glyphicon-envelope "></span>Messages</a></li>
		<li><a href="/orgs" ><span class=" glyphicon glyphicon-glass "></span>Exhibitors</a></li>
		<li><a href="/orgs" ><span class=" glyphicon glyphicon-check "></span>Confirm registration</a></li>
		<li><a href="/orgs" ><span class=" glyphicon glyphicon-calendar "></span>Update schedule</a></li>
		<li><a href="/orgs" ><span class=" glyphicon glyphicon-warning-sign "></span>Maintenance </a></li>
		<li><a href="/orgs" ><span class=" glyphicon glyphicon-phone "></span><br/>SMS</a></li>     
		<li><a href="/orgs" ><span class=" glyphicon glyphicon-eye-open "></span><br/>Demo</a></li>                    
        </ul>
      </div>
<div class="masthead_placeholder"></div>
      
      <div id="elbar">
      <%= render partial: 'elbar' %>      
      </div>
<div id="eldata" >
      
		<%= yield %>
</div>		
	<%= render partial: 'set_table' %>
		
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Conference Updates:</h2>
          <p class="elscroll">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. asdf adfs adfs dfs dfs adfs adfs dfs adfs dfsdfs ds adf sdsf adfs dfs a</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>ATLAS</h2>
          <p>Paperless conference system based on ATLAS.  Attendees can self-sign to quickly register.  Can monitor and track all conference activities.  </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4 ellink_container">
          <h2>Problems? Messages?</h2>
        <a href="#">Hotel</a>
        <a href="#">Electrical</a>
        <a href="#">Schedule a demo</a>
        <a href="">Late registration</a>
        <a href="">Audio Visual</a>
        <a href="">Internet</a>
        <a href="">Booth registration</a>
        <a href=""></a>
                    
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <footer>
      Terms of Use | Your Privacy Rights
        <p><img class="eljumbo elfloat" src="atlas_logo_100.jpg">Copyright © 2014 - Complete Technology Solutions. All Rights Reserved.  ATLAS is a trademark of Complete Technology Solutions 
        
        <img src="admin_header_logo.default.jpg" class="right"></p>
      </footer>
    </div> <!-- /container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>

<style>
</style>