<div>
<label>attendee</label>
<%= link_to 'Show', @attendee %> |
<%= link_to 'List', attendees_path %>
</div>


<%= render 'form' %>


<%= link_to 'Show', @attendee %> |
<%= link_to 'Back', attendees_path %>