
<div>
<label>attendee</label>

Find: <input>

<%= link_to 'New Attendee', new_attendee_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Card number</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Middle name</th>
      <th>Title</th>
      <th>Org</th>
      <th>Email</th>
      <th>Card type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= link_to 'Show', attendee %></td>
        <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
             
        <td><%= attendee.card_number %></td>
        <td><%= attendee.first_name %></td>
        <td><%= attendee.last_name %></td>
        <td><%= attendee.middle_name %></td>
        <td><%= attendee.title %></td>
        <td><%= attendee.org %></td>
        <td><%= attendee.email %></td>
        <td><%= attendee.card_type %></td>
<td><%= link_to 'Destroy', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


