<div><label>attendee</label>
<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'List', attendees_path %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Card number:</strong>
  <%= @attendee.card_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @attendee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @attendee.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @attendee.middle_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @attendee.title %>
</p>

<p>
  <strong>Org:</strong>
  <%= @attendee.org %>
</p>

<p>
  <strong>Email:</strong>
  <%= @attendee.email %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @attendee.card_type %>
</p>


